body {
    background-color: black;
}

.autor {
    display: flex;
    margin: 10px;
}

.biografias {
    margin-left: 5px;
}

.titulo-bio {
    margin: 30px 0px 30px 6px;
    color: rgb(216, 70, 70);
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
}

.biografia {
    color: rgb(218, 218, 218);
    width: 600px;
    margin: 10px;
    font-size: 25px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.titulo-obra {
    color: rgb(216, 70, 70);
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: end;
    /* margin-right: 85px; */
    margin: 30px 95px 30px 0px;
}

.imgAutor {
    padding-top: 100px;
}

.imgAutor img {
    width: 400px;
    border: 10px solid;
    color: #F5D7D7;

}

.famosas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



.img1 img {
    margin: 20px;
}

.obras img {
    display: flex;
    width: 850px;
    height: 600px;
    object-fit: cover;
}

.autores {
    display: flex;
    flex-direction: row;
}







/* cabecalho */
.container {
    height: 80px;
    background-color: #F5D7D7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-home {
    margin-top: 15px;
    margin-left: 25px;
    height: 55px;
    width: 50px;
    object-fit: cover;
}

.link {
    display: flex;
}

.icones-cabeca {
    margin: 0px 10px 0px 10px;
    height: 45px;
    width: 40px;
}

.inicio {
    display: flex;
    flex-direction: row;

}

.resenha {
    display: flex;
    flex-direction: row;

}

.personagens {
    display: flex;
    flex-direction: row;

}

.autor {
    display: flex;
    flex-direction: row;

}

.curiosidades {
    display: flex;
    flex-direction: row;
    margin-right: 55px;
}

.titulo-icon-autor {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    color: #E94141;
    text-decoration: none;

}

.titulo-icon {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

/* cabecalho */
@media screen and (max-width: 1500px) {
    .autores {
        display: flex;
        flex-direction: column;

    }

    .titulo-obra {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1050px) {

    .titulo-icon,
    .titulo-icon-autor {
        font-size: 12px;
    }

    .titulo-obra {
        display: flex;
        justify-content: end;
    }

    .obras img {
        width: auto;
    }
}

@media screen and (max-width: 850px) {

    .titulo-icon img,
    .titulo-icon-autor img {
        display: none;
    }

    .obras img {
        width: auto;
        height: auto;
    }


}

@media screen and (max-width: 550px) {
    .container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

}