body {
    background-color: black;
}

.titulo-personagem {
    text-align: center;
    color: rgb(216, 70, 70);
    font-family: "Bebas Neue", sans-serif;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 35px;

}

h2 {
    color: white;
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
}

h3 {
    font-family: "Belanosima", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.nome-perso{
    margin-bottom: 15px;
}
.personagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;

}
.personagem img{
    width: 100%;
    height: 420px;
    object-fit: cover;
}
.bio{
   padding: 10px;
    font-size: 25px;
    font-family: "Belanosima", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.container {
    height: 80px;
    background-color: #F5D7D7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-home {
    margin-top: 15px;
    margin-left: 25px;
    height: 55px;
    width: 50px;
    object-fit: cover;
}

.link {
    display: flex;
}

.icones-cabeca {
    margin: 0px 10px 0px 10px;
    height: 45px;
    width: 40px;
}

.inicio {
    display: flex;
    flex-direction: row;

}

.resenha {
    display: flex;
    flex-direction: row;

}

.personagens {
    display: flex;
    flex-direction: row;

}

.autor {
    display: flex;
    flex-direction: row;

}

.curiosidades {
    display: flex;
    flex-direction: row;
    margin-right: 55px;
}

.titulo-icon-personagens {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    color: #E94141;
    text-decoration: none;
   
}

.titulo-icon {
    font-family: "Kadwa", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 1050px) {

    .titulo-icon,
    .titulo-icon-personagens {
        font-size: 12px;
    }
  }
  
  @media screen and (max-width: 850px) {
  
    .titulo-icon img,
    .titulo-icon-personagens img {
        display: none;
    }
  
   
  }
  
  @media screen and (max-width: 550px) {
    .container {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    
  }