.icones-cabeca {
    height: 45px;
    width: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo-icon {
    margin-left: 10px;

}

.inicio {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 99em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
text-decoration: none;
color: inherit;

}